<!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
    	<div class="container" data-aos="fade-up">

			<div class="row justify-content-md-center">
						<div class="col-lg-2 col-md-2 col-sm-12">
							<a href="/boletins">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
									<div class="icon"><i class="fas fa-bullhorn"></i></div>
									<h4 class="title"><a href="/boletins">{{ 'Boletim de Serviços'|t }} </a></h4>
								</div>
							</a>
						</div>


						<div class="col-lg-2 col-md-2 col-sm-12">
							<a href="/documentos">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
									<div class="icon"><i class="fas fa-archive"></i></div>
									<h4 class="title"><a href="/documentos">{{ 'Documentos'|t }}</a></h4>
								</div>
							</a>
						</div>

						<div class="col-lg-2 col-md-2 col-sm-12">
							<a href="/node/35">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
									<div class="icon"><i class="fas fa-address-card"></i></div>
										<h4 class="title"><a href="/node/35">{{ 'Folha de Pagamento'|t }}</a></h4>
									</div>
							</a>
						</div>

						<div class="col-lg-2 col-md-2 col-sm-12">
							<a href="/transparencias">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
									<div class="icon"><i class="fas fa-lock-open"></i></div>
										<h4 class="title"><a href="/transparencias">{{ 'Transparência'|t }}</a></h4>
									</div>
							</a>
						</div>



						<div class="col-lg-2 col-md-2 col-sm-12">
							<a href="/carta_de_servicos">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
										<div class="icon"><i class="fas fa-window-restore"></i></div>
											<h4 class="title"><a href="/carta_de_servicos">{{ 'Carta de Serviços'|t }}</a></h4>
										</div>
							</a>
						</div>
				</div>
			</div>

	</section><!-- End Featured Services Section -->